@page "/interview"
@using InterviewGeneratorBlazorHybrid.Models
@using InterviewGeneratorBlazorHybrid.ViewModels
@using InterviewGeneratorBlazorHybrid.Data

@inject AppDbContextFactory ContextFactory
@inject InterviewViewModel ViewModel

<h3>Build Interview</h3>@ViewModel.IsAddMode @ViewModel.IsEditMode

<ul>
    <li>@ViewModel.InterviewName</li>
    <li>@ViewModel.InterviewDate</li>
    <li>@ViewModel.InterviewIsActiveString</li>

</ul>
@* <button class="btn btn-success mb-3" @onclick="SaveInterview"
        disabled="@(string.IsNullOrWhiteSpace(ViewModel.InterviewName) || !ViewModel.InterviewQuestions.Any())">
    Save Interview
</button> *@


@* <div class="mb-3">
    <button class="btn btn-success" @onclick="GenerateInterviewDoc">
        <i class="bi bi-plus-circle"></i> Generate Interview Document
    </button>
</div> *@


<InterviewList />

<InterviewEdit />

<InterviewConstruction />
